data/
example/temp/amplicons/*
example/temp/indices/*
example/temp/genomes/*
external/
simulations_*/
__pycache__/
*.ipynb_checkpoints
.vscode/
src/tmp*
simulation_output*
.DS_Store
test/
example/temp/
logs/
abundances/
.snakemake/
slurm_logs/
temp/
supplementary_files/
iteration_wildcard/
synthetic_fastas/
gridsearch_denv.sh
gridsearch_sars.sh
simulate_analyse_sars_gridsearch.sh
simulate_analyse_denv_gridsearch.sh
run_DENV.sh
